In [131]:
inf_carros = [['Uno', 'Monza', 'BMW', 'Fusca', 'Opala'], [2000, 2010, 2020, 1990, 1980], [12500, 50000, 100, 343434, 7777], [543.48, 3846.15, 33.33, 10407.09, 180.86]]

In [132]:
inf_carros[0].index('Monza')

1

In [133]:
try:
    inf_carros[1].index(1970)
except:
    print('Não existe ete ano.')

Não existe ete ano.

In [134]:
#tuplas
# a tupla nao pode ser alterada, diferente das listas

vogais = ('a','e','i','o','u')

In [135]:
vogais[0]

'a'

In [136]:
vogais.index('o')

3

In [137]:
'a' in vogais

True

In [138]:
'z' in vogais

False

In [139]:
lista = [1, ['a', 'e'], vogais]
type(lista)

list

In [140]:
type(lista[2])

tuple

In [141]:
lista[2][2]

'i'

In [142]:
#Exercicio 1 Aula 4
# Gerar uma lista com o nome do shopping, sem  a palavra shopping do inicio e o nome do mes por extenso buscando na tupla
#resultado = [['grande tijuca', 'novembro'], ['norte shopping', 'dezembro'] ... ]

tup = ('janeiro','fevreiro','março','abril','maio','junho','julho','agosto','setembro','outubro','novembro','dezembro')
shp = [['shopping grande tijuca',11], ['shopping norte shopping ',12], ['shopping villa lobos',3], ['shopping plaza niteroi',5], ['shopping grande recife',8]]

resultado = []
for s in shp:
    resultado.append([s[0].replace('shopping ', '', 1), tup[s[1]-1]])
print(resultado)

[['grande tijuca', 'novembro'], ['norte shopping ', 'dezembro'], ['villa lobos', 'março'], ['plaza niteroi', 'maio'], ['grande recife', 'agosto']]

In [143]:
#dicionario
# colecao de dados baseado em chave / valor

#sintaxe

variavel = {}

In [144]:
dic = {}
type(dic)

dict

In [145]:
dic.update({1: 'rodrigo'})
dic.update({2: 'isabela'})
dic.update({3: 'ronaldo'})
dic.update({4: 'eduardo'})

print(dic)

{1: 'rodrigo', 2: 'isabela', 3: 'ronaldo', 4: 'eduardo'}

In [146]:
len(dic)

4

In [147]:
dic[5] = 'renan'

print(dic)

{1: 'rodrigo', 2: 'isabela', 3: 'ronaldo', 4: 'eduardo', 5: 'renan'}

In [148]:
dic[10] = 'tercio'
print(dic)

{1: 'rodrigo', 2: 'isabela', 3: 'ronaldo', 4: 'eduardo', 5: 'renan', 10: 'tercio'}

In [149]:
dic['dinah'] = 'analista'
print(dic)

{1: 'rodrigo', 2: 'isabela', 3: 'ronaldo', 4: 'eduardo', 5: 'renan', 10: 'tercio', 'dinah': 'analista'}

In [150]:
nome = 'fabio'
valor = 'mesel'
dic[nome] = valor
dic

{1: 'rodrigo',
 2: 'isabela',
 3: 'ronaldo',
 4: 'eduardo',
 5: 'renan',
 10: 'tercio',
 'dinah': 'analista',
 'fabio': 'mesel'}

In [151]:
dic['rodrigo miranda'] = ['consultor', 2009]
dic

{1: 'rodrigo',
 2: 'isabela',
 3: 'ronaldo',
 4: 'eduardo',
 5: 'renan',
 10: 'tercio',
 'dinah': 'analista',
 'fabio': 'mesel',
 'rodrigo miranda': ['consultor', 2009]}

In [152]:
dic[1]

'rodrigo'

In [153]:
#dic[0] #vai dar erro, pois nao tem nenhuma chave 0

In [154]:
dic['dinah']

'analista'

In [155]:
dic['rodrigo miranda']

['consultor', 2009]

In [156]:
nome = 'marlon'
sobrenome = 'sousa'
cargo = 'consultor'
cidade = 'recife'
eid = 'marlon.c.sousa'

dic[nome + ' ' + sobrenome] = {'cidade': cidade, 'cargo': cargo, 'eid': eid}
dic

{1: 'rodrigo',
 2: 'isabela',
 3: 'ronaldo',
 4: 'eduardo',
 5: 'renan',
 10: 'tercio',
 'dinah': 'analista',
 'fabio': 'mesel',
 'rodrigo miranda': ['consultor', 2009],
 'marlon sousa': {'cidade': 'recife',
  'cargo': 'consultor',
  'eid': 'marlon.c.sousa'}}

In [157]:
dic['marlon sousa']

{'cidade': 'recife', 'cargo': 'consultor', 'eid': 'marlon.c.sousa'}

In [158]:
dic['marlon sousa']['cidade']

'recife'

In [159]:
dic.pop(1)

'rodrigo'

In [160]:
dic

{2: 'isabela',
 3: 'ronaldo',
 4: 'eduardo',
 5: 'renan',
 10: 'tercio',
 'dinah': 'analista',
 'fabio': 'mesel',
 'rodrigo miranda': ['consultor', 2009],
 'marlon sousa': {'cidade': 'recife',
  'cargo': 'consultor',
  'eid': 'marlon.c.sousa'}}

In [161]:
del dic[2]

In [162]:
dic

{3: 'ronaldo',
 4: 'eduardo',
 5: 'renan',
 10: 'tercio',
 'dinah': 'analista',
 'fabio': 'mesel',
 'rodrigo miranda': ['consultor', 2009],
 'marlon sousa': {'cidade': 'recife',
  'cargo': 'consultor',
  'eid': 'marlon.c.sousa'}}

In [163]:
for chv in dic:
    print(chv, ' - ', dic[chv])

3  -  ronaldo
4  -  eduardo
5  -  renan
10  -  tercio
dinah  -  analista
fabio  -  mesel
rodrigo miranda  -  ['consultor', 2009]
marlon sousa  -  {'cidade': 'recife', 'cargo': 'consultor', 'eid': 'marlon.c.sousa'}

In [165]:
#Exercicio 2 Aula 3
#Converter inf_carros para um dicionário, onde o nome do carro seja a chave dicionario e as demais informacoes sejam um outro dicionario
#dicionario = {'sandero': {'ano': 1997, 'kilometragem': 125000, 'km_media': 4807.69}}

inf_carros = [['sandero', 'gol', 'uno', 'fusca', 'opala'],
    [1997, 2008, 1980, 2015, 1967],
    [125000, 57000, 32900, 415000, 20000],
    [4807.69, 3800.0, 765.12, 51875.0, 357.14]]

dic_inf_carros = {}
qtd_carros = len(inf_carros[0])

for i in range(qtd_carros):
    dic_inf_carros[inf_carros[0][i]] = {'ano': inf_carros[1][i], 'kilometragem': inf_carros[2][i], 'km_media': inf_carros[3][i]}

dic_inf_carros

{'sandero': {'ano': 1997, 'kilometragem': 125000, 'km_media': 4807.69},
 'gol': {'ano': 2008, 'kilometragem': 57000, 'km_media': 3800.0},
 'uno': {'ano': 1980, 'kilometragem': 32900, 'km_media': 765.12},
 'fusca': {'ano': 2015, 'kilometragem': 415000, 'km_media': 51875.0},
 'opala': {'ano': 1967, 'kilometragem': 20000, 'km_media': 357.14}}