In [56]:
item = 1
while item != 5:
    print(item)
    item += 1 # ou item = item + 1

1
2
3
4

In [57]:
nome = 'Rodrigo'
for var in nome:
    print(var)

R
o
d
r
i
g
o

In [58]:
for num in range(0,10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [59]:
for num in range(0,10):
    print(num ** 2)

0
1
4
9
16
25
36
49
64
81

In [60]:
### Exercício 1 Aula 3 
# printar a soma de todos os multiplos de 5 entre 0 e 100
#usando for

#modo que eu fiz rápido
soma = 0
for n in range(0,101):
    mult = n * 5
    if mult <= 100:
        soma += mult
print(soma)

#depois que o professor explicou o "%"
soma = 0
for n in range(0,101):
    if n%5 == 0:
        soma += n
print(soma)

#forma 3 usando o intervalo do range
soma = 0
for n in range(0,101, 5):
    soma += n
print(soma)

1050
1050
1050

In [61]:
nome = 'Rodrigo'
for i in range(0,7):
    print(nome[i])

R
o
d
r
i
g
o

In [62]:
nome[-1]

'o'

In [63]:
nome = 'Rodrigo'
for i in range(0,len(nome)):
    print(nome[i])

R
o
d
r
i
g
o

In [64]:
documento = '999988888848483433212112023'
documento[-4:]

'2023'

In [65]:
### Exercício 2 Aula 3 
# Ler arquivo de numeros e printar a quantidade de numeros pares e numeros impares

# leitura arquivo
import os
current_dir = os.path.dirname(os.path.realpath('__file__')) #pega o diretório corrente do arquivo
url_ex1 = os.path.join(current_dir, 'numeros.txt') #junta as informações de path do arquivo
arquivo_ex1 = open(url_ex1, "r")

pares = 0
impares = 0
for linha in arquivo_ex1:
    if int(linha)%2 == 0:
        pares += 1
    else: impares += 1
print("Quantidade de números pares: {}. Quantidade de números ímpares: {}.".format(pares, impares))

Quantidade de números pares: 9. Quantidade de números ímpares: 9.

In [66]:
carros = ['Uno', 'Gol', 'Sandero', 'BMW', 'Fusca']

In [67]:
type(carros)

list

In [68]:
numeros = [1,2,3,4,4,5,5656,453]

In [69]:
lista = ['rodrigo', 12321, 12.22, ['consultor', 'dev']]

In [70]:
numeros

[1, 2, 3, 4, 4, 5, 5656, 453]

In [71]:
len(lista)

4

In [72]:
len(lista[3])

2

In [73]:
type(lista[0])

str

In [74]:
type(lista[1])

int

In [75]:
type(lista[3])

list

In [76]:
lista[3][0]

'consultor'

In [77]:
for x in lista[3]:
    print(x)

consultor
dev

In [78]:
lista2 = ['rodrigo', 123, ['consultor', 'dev', ['pleno', 'senior']]]

In [81]:
lista2[2][2][0]

'pleno'

In [ ]:
for obj in lista2:
    if type(obj) != list:
        print(obj)
        for obj2 in obj:
            if type(obj2) != list:
                print(obj2)
                for obj3 in obj2:
                    if type(obj3) != list:
                        print(obj3)

In [96]:
carros = ['Uno', 'Monza', 'BMW', 'Fusca']
carros.append('Opala')
print(carros)

carros.pop(1)
print(carros)

carros.insert(1, 'Monza')
print(carros)

['Uno', 'Monza', 'BMW', 'Fusca', 'Opala']
['Uno', 'BMW', 'Fusca', 'Opala']
['Uno', 'Monza', 'BMW', 'Fusca', 'Opala']

In [100]:
anos = [2000, 2010, 2020, 1990, 1980]
inf_carros = [carros, anos]
print(inf_carros)

[['Uno', 'Monza', 'BMW', 'Fusca', 'Opala'], [2000, 2010, 2020, 1990, 1980]]

In [102]:
print(inf_carros[0][0], inf_carros[1][0])
print(inf_carros[0][3], inf_carros[1][3])

Uno 2000
Fusca 1990

In [103]:
kms = [12500, 50000, 100, 343434, 7777]

In [104]:
inf_carros = [carros, anos, kms]
inf_carros

[['Uno', 'Monza', 'BMW', 'Fusca', 'Opala'],
 [2000, 2010, 2020, 1990, 1980],
 [12500, 50000, 100, 343434, 7777]]

In [106]:
len(inf_carros[0])

5

In [110]:
# Exercicio 3 Aula 3
'''
Ler a lista de informação de carros, gerar uma nova lista dentro de inf_carros com a quilometragem_media de cada carro
Lista chama media -> quilometragem media = quilometragem(km) / (ano atual - ano fabricacao)
Ex: round(11111 / (2023 - 1997), 2)
'''

media_km = []

for i in range(len(inf_carros[0])):
    km = round(inf_carros[2][i] / (2023 - inf_carros[1][i]),2)
    media_km.append(km)
inf_carros.append(media_km)

print(inf_carros)

[['Uno', 'Monza', 'BMW', 'Fusca', 'Opala'], [2000, 2010, 2020, 1990, 1980], [12500, 50000, 100, 343434, 7777], [543.48, 3846.15, 33.33, 10407.09, 180.86]]